exportPattern("^[[:alpha:]]+")
exportMethods(
    "plot" 
)
exportClasses(
    "abc",
     "fi",
     "she" 
)

importFrom(vegan, specnumber, diversity)
importFrom(stats, var)
importFrom("graphics", "abline", "axis", "legend", "lines", "mtext", "par", "points", "polygon")

import(methods)
